<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <!-- Favicon -->
    <link href="/logo.png" rel="shortcut icon" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Work or Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/css/main.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/css/bulma.min.css" />
</head>
<body> 
<section class="hero is-primary is-fullheight">
<!-- Hero head: will stick at the top -->
<div class="hero-head">
    <nav class="navbar">
    <div class="container">
        <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <span class="icon">
            <i class="fas fa-building"></i>
            </span>
            OR 
            <span class="icon">
            <i class="fas fa-home"></i>
            </span>
        </a>
        <a role="button" class="navbar-burger" data-target="navbarMenuHeroA" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
        </div>
        <div id="navbarMenuHeroA" class="navbar-menu">
        <div class="navbar-end">
            <a class="navbar-item" href="/">
            Home
            </a>
            <a class="navbar-item" href="/posts">
            Posts
            </a>
            <a class="navbar-item" href="/contact">
            Contact
            </a>
            <% if(!currentUser){ %>
                <a class="navbar-item" href="/login">
                    Login
                </a>
            <% } else { %>
                <a class="navbar-item" href="/logout">
                    Logout
                </a>
            <% } %>
            <span class="navbar-item">
            <a class="button is-primary is-inverted" href="https://github.com/Ionitamihnea/workorhome">
                <span class="icon">
                <i class="fab fa-github"></i>
                </span>
                <span>Source</span>
            </a>
            </span>
        </div>
        </div>
    </div>
    </nav>
</div>
    <% if(error && error.length > 0) { %>
    <div class="container is-fluid">
        <div class="notification is-danger" role="alert">
            <%= error %>
        </div>
    </div>
    <% } %>
    <% if(success && success.length > 0) { %>
        <div class="container is-fluid">
            <div class="notification is-success" role="alert">
                <%= success %>
            </div>
        </div>
    <% } %>
    