<% include partials/header %>

<!-- Hero content: will be in the middle -->
<div class="hero-body">
  <div class="container has-text-centered">
    <h1 class="title">
        Welcome to Work or  Home!
    </h1>
    <h2 class="subtitle">
        Today it's <%= data %>
    </h2>
    <p class="buttons has-addons is-centered">
        <% if(!currentUser){ %>
            <a class="button is-light is-large" href="/login">
                <span class="icon">
                    <i class="fas fa-sign-in-alt"></i>
                </span>
                <span>Login</span>
            </a>
        <% } else { %>
            <a class="button is-light is-large" href="/posts/new">
                <span class="icon">
                    <i class="fas fa-calendar-plus"></i>
                </span>
                <span>New post</span>
            </a>
        <% } %>
        <a class="button is-light is-large" href="/contact">
            <span class="icon">
                <i class="fas fa-file-signature"></i>
            </span>
            <span>Contact</span>
        </a>
    </p>
  </div>
</div>

<% include partials/footer %>