<% include partials/header %>

<section class="hero is-primary is-fullheight">
<!-- Hero head: will stick at the top -->
<div class="hero-head">
  <nav class="navbar">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item">
            <i class="fas fa-building"></i> - OR - <i class="fas fa-home"></i>
        </a>
        <span class="navbar-burger burger" data-target="navbarMenuHeroA">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </div>
    </div>
  </nav>
</div>

<!-- Hero content: will be in the middle -->
<div class="hero-body">
  <div class="container has-text-centered">
    <h1 class="title">
        Welcome to Work or  Home!
    </h1>
    <h2 class="subtitle">
        Today it's <%= data %>
    </h2>
    <p class="buttons has-addons is-centered">
        <a class="button is-light is-large" href="/login">
            <span class="icon">
                <i class="fas fa-sign-in-alt"></i>
            </span>
            <span>Login</span>
        </a>
        <a class="button is-light is-large" href="/contact">
            <span class="icon">
                <i class="fas fa-file-signature"></i>
            </span>
            <span>Contact</span>
        </a>
    </p>
  </div>
</div>

<!-- Hero footer: will stick at the bottom -->
<div class="hero-foot">
  <nav class="tabs">
    <div class="container">
        <p class="has-text-centered">© 2018 Copyright: Ionita Mihnea</p>
    </div>
  </nav>
</div>
</section>

<% include partials/footer %>